name: Code Quality

on:
  push:
    paths-ignore:
     - '**.md'
  pull_request:
    paths-ignore:
     - '**.md'

jobs:
  build:
    env:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
    runs-on: ubuntu-latest

    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v6
        with:
          # Shallow clones should be disabled for a better relevancy of SonarQube analysis
          fetch-depth: 0

      - name: 'Set up Java'
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: 'temurin'

      - name: 'Cache Maven packages'
        uses: actions/cache@v5
        with:
          path: |
            ~/.m2
            ~/.sonar/cache
          key: ${{ runner.os }}-m2-codequality-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      # execute sonar:sonar only for internal PRs
      - name: Set Maven Additional Goals
        run: |
          echo "SONARGOAL=sonar:sonar" >> $GITHUB_ENV
        if: ${{ env.SONAR_TOKEN }}

      - name: 'Build, test, code quality and coverage'
        run: ./mvnw verify -Pjacoco $SONARGOAL -Dsonar.projectKey=LorenzoBettini_jnrtest
